openapi: 3.0.3
info:
  title: HollowPress API
  description: |
    HollowPress is a content management platform for music artists, posts, albums, and events.
    This API provides endpoints for managing posts, artists, user profiles, and authentication.
  version: 1.0.0
  contact:
    email: support@hollowpress.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://hollowpress.com
    description: Production server
  - url: http://localhost:8000
    description: Local development server

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Posts
    description: Blog posts and articles management
  - name: Artists
    description: Music artists information
  - name: Settings
    description: User profile and account settings

paths:
  /register:
    post:
      tags:
        - Authentication
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
                - password_confirmation
              properties:
                name:
                  type: string
                  example: John Doe
                email:
                  type: string
                  format: email
                  example: john@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: password123
                password_confirmation:
                  type: string
                  format: password
                  example: password123
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
        '422':
          $ref: '#/components/responses/ValidationError'

  /login:
    post:
      tags:
        - Authentication
      summary: Login user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: john@example.com
                password:
                  type: string
                  format: password
                  example: password123
                remember:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /logout:
    post:
      tags:
        - Authentication
      summary: Logout user
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Logout successful
        '401':
          $ref: '#/components/responses/Unauthorized'

  /forgot-password:
    post:
      tags:
        - Authentication
      summary: Request password reset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  example: john@example.com
      responses:
        '200':
          description: Password reset link sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password reset link sent to your email.

  /reset-password:
    post:
      tags:
        - Authentication
      summary: Reset password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - email
                - password
                - password_confirmation
              properties:
                token:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                  minLength: 8
                password_confirmation:
                  type: string
                  format: password
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password has been reset successfully.

  /posts:
    get:
      tags:
        - Posts
      summary: List all posts
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
            maximum: 100
      responses:
        '200':
          description: Posts retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
    post:
      tags:
        - Posts
      summary: Create a new post
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInput'
      responses:
        '201':
          description: Post created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  post:
                    $ref: '#/components/schemas/Post'
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /posts/{id}:
    get:
      tags:
        - Posts
      summary: Get a specific post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Post retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  post:
                    $ref: '#/components/schemas/Post'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Posts
      summary: Update a post
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInput'
      responses:
        '200':
          description: Post updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  post:
                    $ref: '#/components/schemas/Post'
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Posts
      summary: Delete a post
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Post deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /artists:
    get:
      tags:
        - Artists
      summary: List all artists
      responses:
        '200':
          description: Artists retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  artists:
                    type: array
                    items:
                      $ref: '#/components/schemas/Artist'

  /artists/{id}:
    get:
      tags:
        - Artists
      summary: Get a specific artist
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Artist retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  artist:
                    $ref: '#/components/schemas/Artist'
        '404':
          $ref: '#/components/responses/NotFound'

  /settings/profile:
    get:
      tags:
        - Settings
      summary: Get profile settings
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profile settings retrieved
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags:
        - Settings
      summary: Update profile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
              properties:
                name:
                  type: string
                  maxLength: 255
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Settings
      summary: Delete account
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              properties:
                password:
                  type: string
                  format: password
      responses:
        '204':
          description: Account deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'

  /settings/password:
    get:
      tags:
        - Settings
      summary: Get password change form
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Password settings page
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags:
        - Settings
      summary: Update password
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - current_password
                - password
                - password_confirmation
              properties:
                current_password:
                  type: string
                  format: password
                password:
                  type: string
                  format: password
                  minLength: 8
                password_confirmation:
                  type: string
                  format: password
      responses:
        '200':
          description: Password updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /settings/appearance:
    get:
      tags:
        - Settings
      summary: Get appearance settings
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Appearance settings page
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: John Doe
        email:
          type: string
          format: email
          example: john@example.com
        email_verified_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Post:
      type: object
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: Getting Started with HollowPress
        slug:
          type: string
          example: getting-started-with-hollowpress
        content:
          type: string
          example: Full post content...
        excerpt:
          type: string
          nullable: true
          example: Brief summary...
        featured_image:
          type: string
          format: uri
          nullable: true
          example: https://example.com/image.jpg
        published_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PostInput:
      type: object
      required:
        - title
        - content
      properties:
        title:
          type: string
          maxLength: 255
          example: New Post Title
        content:
          type: string
          example: Full post content...
        excerpt:
          type: string
          maxLength: 500
          nullable: true
        featured_image:
          type: string
          format: uri
          nullable: true
        published_at:
          type: string
          format: date-time
          nullable: true

    Artist:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: The Midnight Collective
        slug:
          type: string
          example: the-midnight-collective
        bio:
          type: string
          nullable: true
          example: Artist biography...
        image:
          type: string
          format: uri
          nullable: true
          example: https://example.com/artist.jpg
        website:
          type: string
          format: uri
          nullable: true
          example: https://artistwebsite.com
        spotify_url:
          type: string
          format: uri
          nullable: true
        instagram_url:
          type: string
          format: uri
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        albums:
          type: array
          items:
            $ref: '#/components/schemas/Album'
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'

    Album:
      type: object
      properties:
        id:
          type: integer
        artist_id:
          type: integer
        title:
          type: string
          example: Album Title
        release_date:
          type: string
          format: date
          nullable: true
        cover_image:
          type: string
          format: uri
          nullable: true
        spotify_url:
          type: string
          format: uri
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Event:
      type: object
      properties:
        id:
          type: integer
        artist_id:
          type: integer
        title:
          type: string
          example: Live Performance
        venue:
          type: string
          nullable: true
          example: The Underground Club
        location:
          type: string
          nullable: true
          example: New York, NY
        date:
          type: string
          format: date-time
        ticket_url:
          type: string
          format: uri
          nullable: true
        description:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

  responses:
    Unauthorized:
      description: Unauthenticated
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Unauthenticated.

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Resource not found.

    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: The given data was invalid.
            errors:
              email:
                - The email field is required.
              password:
                - The password must be at least 8 characters.

    RateLimitExceeded:
      description: Too many requests
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Too many requests. Please try again later.
              retry_after:
                type: integer
                example: 60
